.ghost{
  position:relative;
  z-index: 1;
  opacity: 100%;
  animation: spawn 20s ease-in-out;
}
@keyframes spawn {
  0%{
    opacity: 10%;
    transform: scale(10%);
  }
  60%{
    opacity: 12%;
    transform: scale(70%);
  }
  100%{
    opacity: 100%;
    transform: scale(100%);
  }
}